
body{
 padding-top: 200px; padding-bottom: 325px;  color: #f8f8f8;  background: url(img/text.jpg) no-repeat center center; 
 background-size: cover;  
}
marquee{
width:100%;  font-size: 300%;
direction: left; 
padding-top: 0px;
}
.item{
    margin-right: 100px;
    float: right;
  
}
.link{
    text-align: center;
    float: left;
    margin-left: 100px;
}
a{
    color: red;
   text-align: center;
    font-size: 150%;
    }
@media screen and (max-width: 800px){
    a{
        color: black;
    }
}

 